*{
     margin: 0;
     padding: 0;
 }
#wrap{
    max-width: 1000px;
    background-color: #33b236;
    margin: 0 auto auto auto;
}
#footer{
    height: 80px;
    width: 100%;
    background-color:black;
    color: white;
    font-size:2.2em;
    text-align: center;
    padding-top:1em ;
    text-shadow: 2px 2px 5px rgb(255,255,0);
}